<div>
    <div class="row justify-content-center">
        <div class="col-10 bg-success">
            <label class="h3">Pizzería</label>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 bg-info" style="padding: 5px;">
            <form (ngSubmit)="obtenerValores()" [formGroup]="pizzaForm">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="nombre" class="h6">Nombre</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre">
                        <div *ngIf="pizzaForm.get('nombre')?.touched && pizzaForm.get('nombre')?.errors?.['required']" 
                        class="alert alert-danger">Este campo es requerido
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label for="direccion" class="h6">Dirección</label>
                        <input type="text" class="form-control" id="direccion" formControlName="direccion">
                        <div *ngIf="pizzaForm.get('direccion')?.touched && pizzaForm.get('direccion')?.errors?.['required']" 
                        class="alert alert-danger">Este campo es requerido
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label for="telefono" class="h6">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" formControlName="telefono">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-4">
                        <div class="form-check">
                            <label class="h6">Tamaño de la pizza:</label><br>
                            <input type="radio" id="chica" formControlName="tamano" value="Chica" class="form-check-button">
                            <label for="chica" class="form-check-label">Chica $40</label>
                            <br>
                            <input type="radio" id="mediana" formControlName="tamano" value="Mediana">
                            <label for="mediana">Mediana $80</label>
                            <br>
                            <input type="radio" id="grande" formControlName="tamano" value="Grande">
                            <label for="grande">Grande $120</label>

                            <div *ngIf="pizzaForm.get('tamano')?.touched && pizzaForm.get('tamano')?.errors?.['required']" 
                            class="alert alert-danger">Este campo es requerido
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check">
                            <label class="h6">Ingredientes:</label><br>
                            <input type="checkbox" id="jamon" formControlName="ingrediente1" value="jamon" class="form-check-button">
                            <label for="jamon" class="form-check-label">Jamón $10</label>
                            <br>
                            <input type="checkbox" id="piña" formControlName="ingrediente2" value="piña">
                            <label for="piña">Piña $10</label>
                            <br>
                            <input type="checkbox" id="champiñomes" formControlName="ingrediente3" value="champiñomes">
                            <label for="champiñomes">Champiñones $10</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="h6">Cantidad de pizzas</label>
                            <input type="number" class="form-control" id="cantidad" formControlName="nPizzas">
                       
                            <div *ngIf="pizzaForm.get('nPizzas')?.touched && pizzaForm.get('nPizzas')?.errors?.['required']" 
                            class="alert alert-danger">Este campo es requerido
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary my-1">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>    
    <div class="row justify-content-center">
        <div class="col-6 bg-info">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tamaño</th>
                        <th>Ingredientes</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Eliminar</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let piz of listaPizza; let ind = index">
                        <td>{{piz.nombre}}</td>
                        <td>{{piz.tamano}}</td>
                        <td><p *ngFor="let ing of piz.ingredientes">
                            {{ing}}
                            </p>
                        </td>
                        <td>{{piz.nPizzas}}</td>
                        <td>{{piz.precio}}</td>
                        <td><button class="btn btn-danger" (click)="quitarP(ind)">Quitar</button></td>
                        <td><button class="btn btn-warning" (click)="editarPedido(ind)">Editar</button></td>
                    </tr>
                </tbody>
            </table>
            <form (ngSubmit)="mostrarAlerta();">
                     <button type="submit" class="btn btn-success my-1" style="margin-left: 5px;">Terminar</button>
            </form>
        </div>
        <div class="col-4 bg-info">
            <div class="card">
                <div class="card-header">
                    <label class="h5">Ventas del día:</label>
                    <p class="h6" *ngFor="let cli of clientes">
                        {{cli}}
                    </p><br>
                    <label class="h4">El total es: ${{totalDia}}</label>
                    <p class="my-1">{{fecha}}</p>
                    <form (ngSubmit)="limpiarLista();">
                        <button type="submit" class="btn btn-outline-warning my-1">Limpiar todo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>